:host{
  background-color: blue;
  background-image: url("https://b.zmtcdn.com/data/menus/857/16713857/d4d15198507a9e8a72213dd7574c9665.jpg");
  background-position: center;
  background-size: cover;
}