<mat-tab-group>
    <mat-tab label="Tipps">

        <mat-accordion>
            <mat-expansion-panel *ngFor="let tipp of tipps">
                <mat-expansion-panel-header>
                    {{tipp.title}}
                </mat-expansion-panel-header>
                <p>{{tipp.text}}</p>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-tab>
    <mat-tab label="Facts">

        <mat-accordion>
            <mat-expansion-panel *ngFor="let fact of facts">
                <mat-expansion-panel-header>
                    {{fact.title}}
                </mat-expansion-panel-header>
                <p>{{fact.text}}</p>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-tab>
</mat-tab-group>