<mat-toolbar>
    <button mat-icon-button class="navswitch item" (click)="navService.sidenav = !navService.sidenav" [ngClass]="{'exp':navService.sidenav}">
        <mat-icon svgIcon="home">home</mat-icon>
    </button>
    <span>CO2 Tracker</span> <span class="example-fill-remaining-space"></span>
    <button mat-button class="item" (click)="auth.login()" *ngIf="!(auth.user | async); else showLogout">login</button>
    <ng-template #showLogout>
        <button mat-button (click)="auth.logout()" class="item">logout</button>
    </ng-template>
</mat-toolbar>