<mat-toolbar color="primary">
    <button mat-icon-button (click)="navService.sidenav = !navService.sidenav" [ngClass]="{'exp':navService.sidenav}">
        <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <span>CO<span class="sub">2</span> Tracker</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" class="item" (click)="auth.login()" *ngIf="!(auth.isAuthenticated | async); else showLogout">anmelden</button>
    <ng-template #showLogout>
        <button mat-button (click)="auth.logout()">abmelden</button>
    </ng-template>
</mat-toolbar>
