@import "./variables";
html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
button{
  padding:0;
  margin:0;
  border:none;
  cursor: pointer;
  background:none;
}
button:hover{
  background-color: $hovercolor;
}
button:active{
  background-color: $activecolor;
}
button:focus{
  outline: none;
}
