<mat-spinner *ngIf="!activityRef;"></mat-spinner>
<div id="map" class="map" [ngClass]="{'hidden' : !activityRef}"></div>
<form [formGroup]="activityForm" novalidate *ngIf="activityRef">
    <h1></h1>

    <!-- MUSS IRGENDWIE IN EINE EIGENE FormComponent
    <mat-form-field>
        <mat-select placeholder="Fortbewegungsmittel" formControlName="vehicle" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let animal of transport_modes" [value]="animal">
                {{animal.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="vehicle.hasError('required')">Wählen Sie ein Transportmittel</mat-error>
        <mat-hint>{{vehicle.value?.sound}}</mat-hint>
    </mat-form-field>

    -->


    <mat-form-field>
        <input matInput type="text" placeholder="Startpunkt" formControlName="startString" [matAutocomplete]="startComplete">
        <button mat-icon-button matSuffix  (click)="useCurrentLocation(true)" *ngIf="showPosition"> <mat-icon svgIcon="crosshairs-gps"></mat-icon></button>
    </mat-form-field>

    <mat-autocomplete #startComplete="matAutocomplete">
        <mat-option *ngFor="let option of originOptions" [value]="option.formatted_address">
            {{ option.formatted_address }}
        </mat-option>
    </mat-autocomplete>


    <mat-form-field>
        <input matInput type="text" placeholder="Endpunkt" formControlName="endString" [matAutocomplete]="endComplete">
        <button mat-icon-button matSuffix  (click)="useCurrentLocation(false)" *ngIf="showPosition"> <mat-icon svgIcon="crosshairs-gps"></mat-icon></button>
    </mat-form-field>

    <mat-autocomplete #endComplete="matAutocomplete">
        <mat-option *ngFor="let option of destinationOptions" [value]="option.formatted_address">
            {{ option.formatted_address }}
        </mat-option>
    </mat-autocomplete>

    <mat-form-field>
        <input matInput type="time" placeholder="Startzeit" formControlName="timeString" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Datum" required formControlName="time">
        <mat-datepicker-toggle matSuffix="" [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field>
        <mat-select placeholder="Fahrzeug" formControlName="vehicle" required>
            <mat-optgroup label="Meine Fahrzeuge">
                <mat-option *ngFor="let vehicle of vehicleService.myVehicles | async" [value]="vehicle.payload.doc.id">
                    {{ vehicle.payload.doc.data().name}}
                </mat-option>
            </mat-optgroup>

            <mat-optgroup label="Standardfahrzeuge">
                <mat-option *ngFor="let vehicle of vehicleService.publicVehicles | async" [value]="vehicle.payload.doc.id">
                    {{ vehicle.payload.doc.data().name}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <vehicle-detail  [id]="activityForm.value.vehicle"></vehicle-detail>

    <mat-form-field>
        <input matInput type="number" placeholder="Distanz" formControlName="distance" required> <span matSuffix>km</span>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" placeholder="Passagiere" formControlName="passengers" required> <mat-icon svgIcon="account" matSuffix></mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveActivity()">Speichern</button>

</form>





<div style="height: 80px;"></div>


