<div>
    <h1>Aktivität bearbeiten</h1>
</div>

<mat-spinner *ngIf="!activityRef; else showForm"></mat-spinner>
<div id="map" class="map" [ngClass]="{'hidden' : !activityRef}"></div>





<ng-template #showForm>
    <input type="text" title="aktivität">



    <h3>Die Distanz zwischen den Markern beträgt {{distance?.distance.text || "X km"}} mit dem Auto</h3>




    <form [formGroup]="activityForm" novalidate >

        <!-- MUSS IRGENDWIE IN EINE EIGENE FormComponent
        <mat-form-field>
            <mat-select placeholder="Fortbewegungsmittel" formControlName="vehicle" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let animal of transport_modes" [value]="animal">
                    {{animal.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="vehicle.hasError('required')">Wählen Sie ein Transportmittel</mat-error>
            <mat-hint>{{vehicle.value?.sound}}</mat-hint>
        </mat-form-field>

        -->

        <mat-form-field>
            <input matInput type="time" placeholder="Startzeit" formControlName="timeString" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Datum" required formControlName="time">
            <mat-datepicker-toggle matSuffix="" [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Fahrzeug" formControlName="vehicle" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Distanz" formControlName="distance" required>
            <span matSuffix>km</span>
        </mat-form-field>

    </form>








    <button mat-raised-button color="primary" (click)="calc()">Strecke berechnen</button>
    <button mat-raised-button color="secondary" (click)="saveActivity()">Speichern</button>


    <p>{{activityForm.value | json}}</p>
</ng-template>

<div style="height: 50px;"></div>


