<div>
    <h1>Hier kann eine Aktivität bearbeitet/erstellt werden</h1>
</div>

    <input type="text" title="aktivität">

    <div id="map" class="map"></div>

    <h3>Die Distanz zwischen den Markern beträgt {{distance?.distance.text || "X km"}} mit dem Auto</h3>

    <mat-form-field>
        <mat-select placeholder="Fortbewegungsmittel"  [formControl]="animalControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let animal of transport_modes" [value]="animal">
                {{animal.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">Wählen Sie ein Transportmittel</mat-error>
        <mat-hint>{{animalControl.value?.sound}}</mat-hint>
    </mat-form-field>

<button mat-raised-button color="primary" (click)="calc()">Strecke berechnen</button>
