<h2>Meine Fahrzeuge</h2>
<vehicle-detail *ngFor="let vehicle of vehicleService.myVehicles | async" [id]="vehicle.payload.doc.id"></vehicle-detail>
<div class="spinner" *ngIf="!(vehicleService.myVehicles | async)">
    <mat-spinner></mat-spinner>
</div>
<h2>Alle veröffentlichten Fahrzeuge</h2>
<vehicle-detail *ngFor="let vehicle of vehicleService.publicVehicles | async" [id]="vehicle.payload.doc.id"></vehicle-detail>
<div class="spinner" *ngIf="!(vehicleService.publicVehicles | async)">
    <mat-spinner></mat-spinner>
</div>

<div class="space"></div>

<button [routerLink]="['/vehicle/edit/new']" class="floatingbutton" mat-fab color="primary">New</button>

