@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
  background-color: #FFF;

  h2{
    text-align: center;
  }

  .spinner{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  vehicle-detail {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
    max-height: 112px;
    //min-height: 112px;
    //@include transition(max-height, 0.5s, 0s, ease-in-out);

    &:hover{
      background-color: #fafafa;
    }
  }

  .new{
    min-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon{
      color: green; //material-design
    }
  }
}