<h2>Meine Aktivitäten</h2>
<mat-nav-list>
    <a mat-list-item *ngFor="let activity of activityService.activities | async" href="activities/edit/{{activity.payload.doc.id}}">
        <mat-icon matListIcon svgIcon="train"></mat-icon>
        <h3 matLine>  {{activity.payload.doc.data().startString}}&nbsp; <mat-icon svgIcon="ray-start-arrow"></mat-icon> &nbsp;{{activity.payload.doc.data().endString}} </h3>
        <p matLine>
             <span style="width: 140px; display: inline-block;">{{activity.payload.doc.data().time | date:'d.M.yyyy, HH:mm'}}</span>  {{(activity.payload.doc.data().distance || 0 ) | number:'1.1-5'}}km
        </p>

    </a>
</mat-nav-list>